export(alignReport)
export(callGenotypes)
export(combineMlgtResults)
export(createKnownAlleleList)
export(dumpVariantMap.mlgtResult)
export(dumpVariants)
export(getTopBlastHits)
export(inspectBlastResults)
export(mlgt)
export(prepareMlgtRun)
export(printBlastResultGraphs)
exportMethods(errorCorrect)
exportMethods(plotGenotypeEvidence)
exportMethods(writeGenotypeCallsToFile)
